<app-header></app-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-searchbar
    placeholder="Filter 2"
    inputmode="text"
    type="text"
    (ionChange)="onSearchChange($event)"
    [debounce]="250"
    showCancelButton="always"
  ></ion-searchbar>

  <ion-list>
    <ion-item *ngFor="let pais of (paises | async) | filtro:textoAbuscar">
      <ion-label [class]="customClass" [style.color]="color" (click)="click(pais)"
        >{{ pais.name }} - {{ pais.capital }}</ion-label
      >
    </ion-item>
  </ion-list>
</ion-content>
